body {
  font-family: Tahoma, sans-serif;
  width: 1100px;
  background-color: rgb(234, 238, 234);
}

.all {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.an {
  -ms-flex: 50%;
  flex: 50%;
}
.an,
.D {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input[type="text"] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.side {
  position: relative;
  left: 2%;
}

.reg h1 {
  color: rgb(37, 37, 223);
  position: relative;
  left: 30%;
}
.reg h1 spam {
  color: rgb(0, 0, 0);
}
.contact {
  position: relative;
  left: 30%;
}
.reg {
  position: relative;
  left: 15%;
  background-color: aliceblue;
}
.map {
  position: relative;
  left: 15%;
  top: 30px;
  border: solid;
}

.last {
  position: relative;
  left: 9%;
  top: 60px;
  width: 1200px;
}

.a1 {
  width: 1210px;
  position: relative;
  left: 8%;
  overflow: hidden;
  background-color: rgb(53, 51, 51);
}

.a1 a {
  float: right;
  color: rgb(255, 249, 249);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
}

.a1 a:hover {
  background-color: #6a4f8b;
  color: rgb(179, 177, 67);
}

.open-button {
  background-color: rgb(71, 221, 171);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  left: 80%;
  top: -80px;
  width: 170px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 550px;
  border: 3px solid #f1f1f1;
  z-index: 7;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
