body {
  width: 1100px;
  background-color: rgb(191, 222, 247);
  height: auto;
  scroll-behavior: smooth;
  font-family: Tahoma, sans-serif;
}

.all hr {
  position: relative;
  left: 15%;
}

.all p {
  overflow: visible;
  width: 70%;
  height: auto;
  position: relative;
  left: 25%;
}
.all img {
  position: relative;
  left: 15%;
  border: solid 3px;
}
.a {
  position: relative;
  left: 13%;
  top: 10px;
  border: solid 3px;
}
.a h1 {
  position: relative;
  left: 40%;
  top: 10%;

  color: rgb(8, 226, 215);
}
.b {
  position: relative;
  left: 15%;
  border: solid 3px;
}
.b h1 {
  position: relative;
  left: 45%;
  top: 12%;
  color: rgb(129, 100, 100);
}
.c {
  position: relative;
  left: 20%;
  border: solid 3px;
}
.c h1 {
  position: relative;
  left: 40%;
  top: 9%;
  color: rgb(18, 53, 18);
}
.d {
  position: relative;
  left: 15%;
  border: solid 3px;
}

.d h1 {
  position: relative;
  left: 25%;
  top: 15%;
  color: rgb(205, 234, 247);
}

.f {
  position: relative;
  left: 15%;
  border: solid 3px;
}
.f h1 {
  position: relative;
  left: 45%;
  top: 4%;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.g {
  position: relative;
  left: 15%;
  border: solid 3px;
}
.g h1 {
  position: relative;
  left: 40%;
  top: 15%;
  color: rgb(39, 116, 151);
}
.p {
  position: relative;
  left: 15%;
  border: solid 3px;
}
.p h1 {
  position: relative;
  left: 40%;
  top: 20%;
  color: rgb(188, 246, 247);
}
.color span {
  color: firebrick;
}
.color h2 {
  position: relative;
  left: 20%;
}
.all h2 {
  position: relative;
  left: 25%;
  color: rgb(42, 42, 185);
}
.all h2 span {
  position: relative;
  left: 1%;
  color: rgb(243, 17, 17);
}
.s {
  position: relative;
  left: 15%;
}

.a1 {
  width: 1210px;
  position: relative;
  left: 8%;
  overflow: hidden;
  background-color: rgb(53, 51, 51);
}

.a1 a {
  float: right;
  color: rgb(255, 249, 249);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
}

.a1 a:hover {
  background-color: #6a4f8b;
  color: rgb(179, 177, 67);
}

.open-button {
  background-color: rgb(71, 221, 171);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  left: 80%;
  top: -80px;
  width: 170px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 550px;
  border: 3px solid #f1f1f1;
  z-index: 7;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.last {
  position: relative;
  left: 8%;
  top: 0px;
  width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1100px;
  height: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
